.contacts-page {
  height: 93vh;
  display: flex;
  flex-direction: row;
}

.labels-section {
  width: 15vw;
  min-width: 280px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.labels-section .create-contact {
  margin: 20px 20px 20px 20px;
}

.labels-section .tag-list {
  margin: 20px 20px 20px 20px;
  display: inline-block;
}

.contacts-section {
  width: 85vw;
}

.contacts-section .section-banner {
  margin: 10px 20px;
}
.contacts-section .contact-table {
  margin: 10px 20px;
}
