.app-header {
    min-height: 7vh;
    max-height: 7vh;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}

.app-user-info {
    font-size: 32px;
    color: white;
}
